<tr>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{customerID}}</td>
    <td><button class="updateButton">Update</button> <button onclick = "deleteCustomer({{customerID}})" class="deleteButton">Delete</button></td>
</tr>