<tr>
    <td>{{orderID}}</td>
    <td>{{bookID}}</td>
    <td><button class="updateButton">Update</button> <button class="deleteButton" onclick="deleteOrderDetail({{orderID}}, {{bookID}})">Delete</button></td>
</tr>
