<body>
    <header>
        <button>
            <a href="/" id="homeButton">Home</a>
        </button>
        <h1>Manage Books</h1>
    </header>

    <main>
        <form id="addBookForm" method="POST" action="/add-book-form">
            <label for="bookID">Book ID:</label>
            <input type="text" id="bookID" name="bookID" placeholder="Enter book ID" required>

            <label for="bookName">Book Name:</label>
            <input type="text" id="bookName" name="bookName" placeholder="Enter book name" required>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" placeholder="Enter category" required>

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" placeholder="Enter author" required>

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" placeholder="Enter price" required>

            <button type="submit">Add Book</button>
        </form>

        <table id="booksTable">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample Book rows -->
                {{#each books}}
                    {{> book}}
                {{/each}}

            </tbody>
        </table>

	<h2>Updating A Book's Details Form</h2>
<p>To update a specific book's details, select the book from the drop-down menu and enter the new details below</p>
<form id="update-book-form-ajax">

    <label for="input-book-id">Book ID: </label>
    <select name="input-book-id" id="bookIDSelect">
        <option value="">Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.bookID}}</option>
        {{/each}}
    </select>

    <label for="input-book-name">Book Name: </label>
    <input type="text" id="input-book-name" name="input-book-name" placeholder="Enter new Book Name" required>

    <label for="input-category">Category: </label>
    <input type="text" id="input-category" name="input-category" placeholder="Enter new Category" required>

    <label for="input-author">Author: </label>
    <input type="text" id="input-author" name="input-author" placeholder="Enter new Author" required>

    <label for="input-price">Price: </label>
    <input type="text" id="input-price" name="input-price" placeholder="Enter new Price" required>

    <input type="submit" value="Update Book Details">

</form>
<script src="./js/updateBooks.js"></script>
    </main>
</body>
