1 # Citation for this file- customers.hbs
2 # Date: 3/18/2024
3 # Copied from Node JS Starter App Ecampus
4 # We looked at the Node JS Starter App from Ecampus to help us with a lot of implementation (including the update, add and delete function)
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app


<body>
    <header>
        <button>
            <a href="/" id="homeButton">Home</a>
        </button>
        <h1>Manage Customers</h1>
    </header>

    <main>
        <form id="addCustomerForm" method="POST" action="/add-customer-form">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required>
            
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Enter last name" required>
            
            <label for="customerID">Customer ID:</label>
            <input type="text" id="customerID" name="customerID" placeholder="Enter customer ID" required>
            
            <button type="submit">Add Customer</button>
        </form>

        <table id="customersTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Customer ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample Customer rows -->
                {{#each customers}}
                    {{> customer}}
                {{/each}}
            </tbody>
        </table>

	<h2>Updating Customer Information</h2>
<p>To update a specific customer's information, select their ID from the drop-down menu and enter the new details in the fields below.</p>
<form id="update-customer-form-ajax">

    <label for="customerSelect">Select Customer ID: </label>
    <select name="customerSelect" id="customerSelect">
        <option value="test">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customerId}}">{{this.customerId}}</option>
        {{/each}}
    </select>

    <label for="input-first-name">First Name: </label>
    <input type="text" id="input-first-name" name="input-first-name" placeholder="Enter new first name" required>

    <label for="input-last-name">Last Name: </label>
    <input type="text" id="input-last-name" name="input-last-name" placeholder="Enter new last name" required>

    <input type="submit" value="Update">
</form>

<script src="./js/updateCustomers.js"></script>
    </main>
</body>
