
<body>
    <header>
        <h1>Welcome to Our Bookstore Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="customers">Manage Customers</a></li>
            <li><a href="books">Manage Books</a></li>
            <li><a href="orders">Manage Orders</a></li>
            <li><a href="orderDetails">Manage Order Details</a></li>
            {{!-- <li><a href="inventories">Manage Inventories</a></li> --}}
        </ul>
    </nav>

    <fieldset>
        <h3>About this app </h3>
            <p>
                This is a bookstore management system
            </p>
    </fieldset>

</body>

