
<body>
    <header>
        <h1>Welcome to Our Bookstore Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="customers">Manage Customers</a></li>
            <li><a href="books">Manage Books</a></li>
            <li><a href="orders">Manage Orders</a></li>
            <li><a href="orderDetails">Manage Order Details</a></li>
            {{!-- <li><a href="inventories">Manage Inventories</a></li> --}}
        </ul>
    </nav>

    <fieldset>
        <h3>About this app </h3>
            <p>
                Imagine a bustling bookstore that caters to over 500 book lovers annually. This bookstore manages modest Inventories of 1,000 unique Books, ensuring a smooth purchasing process for all customers. To address the challenges of such an operation, we have implemented a powerful web portal on our site. This portal uses a sophisticated system to record and organize Orders from our diverse customer base, handling an average of 700 orders each year. Our database website does more than just list book information. It tracks sales orders and manages the intricate OrderDetails ensuring we can handle transactions with ease. The average price of a book in our bookstore is around $10, contributing to an average annual sales figure of $7,000. This digital backbone enables our bookstore to thrive in the dynamic world of online shopping. It provides the best experience for our Customers and the bookstore community, making us a reliable hub for book enthusiasts everywhere.
            </p>
    </fieldset>

</body>

